
	  <owl-carousel-o [options]="Carousel2">
        <ng-template carouselSlide ><img src="../../assets/img/slider/5.jpg" alt=""></ng-template>  
        <ng-template carouselSlide ><img src="../../assets/img/slider/6.jpg" alt=""></ng-template>
    <ng-template carouselSlide ><img src="../../assets/img/slider/7.jpg" alt=""></ng-template>  
    <ng-template carouselSlide ><img src="../../assets/img/slider/8.jpg" alt=""></ng-template>  
    <ng-template carouselSlide ><img src="../../assets/img/slider/9.jpg" alt=""></ng-template>  
	  </owl-carousel-o>

